 .carousel {
    position: relative;
    margin: 0 auto;
    height: 50vh;
    overflow: hidden;
    
  }
  
  
.carousel img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}


  