.textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #5D1725;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}