.layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 20px;
}

.sidebar {
    flex: right;
}


@media (max-width: 992px) {
    .sidebar {
        display: none;
    }

    .main {
        flex-grow: 1;
    }
}