.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .quick, .contact, .about {
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  
  .quick h3, .contact h3, .about h3 {
    margin-top: 0;
  }
  
  .quick ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick li a {
    text-decoration: none;
    color: #5D1725;
    padding: 5px 0;
    display: block;
  }
  
  .quick li a:hover {
    text-decoration: underline;
  }
  
  .contact p{
    font-size: 1.1em;
  }
  
  .about p{
    font-size: 1.1em;
  }
