
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.heading {
    color: black;
    text-align: center;
}

.instructions {
    font-size: 18px;
    margin-bottom: 15px;
}

.stepTitle {
    color: #5D1725;
    margin-top: 30px;
}

.codeBlock {
    background-color: #f5f5f5;
    border-left: 3px solid #5D1725;
    padding: 10px;
    font-family: monospace;
    display: block;
    margin: 10px 0;
}

.finalNote {
    font-style: italic;
    margin-top: 20px;
}
